
<head>
    <title>about</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/img/weather.png">
</head>
<body>
    <div class="main-content">
    {{>header}}
    <img class="potrait" src="/img/me.jpg">
    <p>This site was created by Sudhanshu Agrawal.It uses data from mapbox and darksky.net</p>
    </div>
    {{>footer}}
</body>