<link rel="stylesheet" href="style.css">
<body>
    <title>about</title>
    <div class="main-content">
    {{>header}}
    <img class="potrait" src="IMG_20181228_152053">
    </div>
    {{>footer}}
</body>